
canvas {
  border: solid 1px;
  width: 100%;
}

.row-cell {
  text-align: center;
  border: solid 1px;
}

th {
  text-align: center;
}

#ytd-totals {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px;
}


#fiscal-year {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px;
}

#ytd-chart {
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px;
}
