#fiscal-year {
  border: solid 1px;
}

canvas {
  border: solid 1px;
}

.row-cell {
  text-align: center;
  border: solid 1px;
}

th {
  text-align: center;
}

#ytd-totals {
  margin-top: 50px;
  margin-bottom: 50px;
}

#fiscal-year {
  margin-top: 50px;
  margin-bottom: 50px;
}
#ytd-chart {
  margin-top: 50px;
  margin-bottom: 50px;
}
