* {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-image: url("../images/what-the-hex.png");
}

canvas {
  border: solid 1px;
  width: 100%;
}

.row-cell {
  text-align: center;
  border: solid 1px;
}

th {
  text-align: center;
} */

#ytd-totals {
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: solid 1px purple;*/
}

#fiscal-year {
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: solid 1px yellow;*/
}

#ytd-chart {
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: solid 1px blue;*/
}

/* adding this margin so footer doesn't overlap container MC */
#whole-stuff {
  margin-bottom: 10px;
}

#fy-col {
  text-align: center;
}
