* {
  font-family: 'Exo 2', sans-serif;
}

footer {
  height: 90px;
  background-color: #343a40;
}

footer .main-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

#copyright-text {
  padding-top: 30px;
}

.footer-links {
  padding-top: 20px;
}
