* {
  font-family: 'Exo 2', sans-serif;
}

td.image-upload > input[type="file"] {
  display: none;
}

label[for="file-input"]:hover {
  cursor: pointer;
}

/* adding this margin so footer doesn't overlap container MC*/
.prop-details-container {
  margin-bottom: 150px;
}

#indiv-property-details {
  margin: 40px 0px;
}

#indiv-property-details-header {
  background-color: #343a40;
  color: white;
}

#prop-image {
  margin-bottom: 30px;
}

.indiv-prop-spec {
  margin-bottom: 3px;
}
