td.image-upload > input[type="file"] {
  display: none;
}

label[for="file-input"]:hover {
  cursor: pointer;
}

table #expenses-table {
  height: 300px;
}

/* adding this margin so footer doesn't overlap container MC*/
.prop-details-container {
  margin-bottom: 150px;
}

#indiv-property-details {
  margin: 30px 0px;
}

#indiv-property-details-header {
  background-color: #343a40;
  color: white;
}
