#indiv-chart {
  padding-top: 10px;
}

#carouselExampleIndicators {
  width: 35vw;
  margin: 0 auto;
  padding: 10px;
}

.img-fluid {
  max-width: 35%;
  max-height: auto;
}

.centered {
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 255, 0.5);
}
