/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

* {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-image: url("../images/what-the-hex.png");
}

#property-chart {
  padding: 10px;
}

#carouselExampleIndicators {
  padding: 10px;
  margin: 10px;
}

.centered {
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption>h3{
  font-size: 12px;
}

@media (min-width: 768px) {
  .carousel-caption>h3{
    font-size: 20px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner {
  width: 75%;
}

/* adding this margin so footer doesn't overlap container MC */
.view-prop-container {
  margin-top: 10px;
  margin-bottom: 130px;
}

.margin-bottom {
  margin-bottom: 10px;
}
