/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

* {
  font-family: 'Exo 2', sans-serif;
}

#property-chart {
  padding-top: 10px;
}

#properties {
  padding-bottom: 20px;
}
/* carouselExampleIndicators */
#carouselExampleIndicators {
  width: 95vw;
  margin: 0 auto;
  padding: 20px;
}

.chart {
  max-width: 95vw;
  max-height: auto;
  padding: 20px;
}

@media (min-width: 768px) {
  #carouselExampleIndicators {
    width: 75vw;
  }
}

@media (min-width: 992px) {
  #carouselExampleIndicators {
    width: 50vw;
  }
}

@media (min-width: 768px) {
  .chart {
    width: 75vw;
    margin: 0 auto;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .chart {
    width: 50vw;
  }
}

.centered {
  margin: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption>h3{
  font-size: 12px;
}

@media (min-width: 768px) {
  .carousel-caption>h3{
    font-size: 20px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-inner {
  width: 75%;
}

/* adding this margin so footer doesn't overlap container MC */
.view-prop-container {
  margin-bottom: 130px;
}
